In [2]:
import pandas as pd

## this is a library --> a box of toolboxes (objects/classes) --- each of them has their own attributes /methods 

my_dataframe = pd.DataFrame([1,2,3,4], columns=["example"])
my_dataframe

   example
0        1
1        2
2        3
3        4

In [3]:
type(my_dataframe)

pandas.core.frame.DataFrame

In [5]:
class Employee():
    
    # a class has attributes (variable thar are defined inside the class)
    
    name = "Jose"
    age = 499
    idd = "a709232"
    email = "jose.pereira@ironhack.com"
    phone = 982398123
    role = "Data Analytics Teacher"
    
    
    def cool_method(self):
        print("I am cool method")

In [8]:
emp1 = Employee()

In [9]:
## use the class we created

emp1.email

'jose.pereira@ironhack.com'

In [10]:
emp1.idd

'a709232'

In [11]:
emp1.role

'Data Analytics Teacher'

In [12]:
emp1.idd = "87541654643"

In [13]:
emp1.idd

'87541654643'

In [34]:
## isnÂ´t there a way to create class, without defining/hard coding
## the attributes

class Employee2():
    def __init__(self, name, age, idd, email, phone, role):
        self.name = name
        self.age = age
        self.idd = idd
        self.phone = phone
        self.email = email
        self.role = role
        
        ### self is a universal variable that referes to the object itself
        
        
    def cool_method(self):
        print("Hello my name is" + self.name)

    def call_employee(self):
        print("You can call me at" +str(self.phone))

In [36]:
emp2 = Employee2(name="Bilbo Baggins", age=227, idd = 0, email = "bilbo.baggins@shireimportexport.com", phone=1111, role="ring steler")
emp3 = Employee2(name="Frodo Baggins", age=112, idd = 1, email = "frodo.baggins@shireimportexport.com", phone=2222, role="ring porter")

In [29]:
emp3.age

112

In [37]:
emp3.email

'frodo.baggins@shireimportexport.com'